body {
    background-colour: darkblue;
    background-image: linear-gradient(to bottom, darkblue, green);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, sans-serif;
}

.page-header {
    background-image: linear-gradient(to right, purple, coral);
    /*background-image: url("flower.JPEG");*/
    border-radius
}